html {
  font-family: "Winky Sans", tahoma, verdana;
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5em;
  margin-bottom: 0.8em;
  font-family: "Handlee", tahoma, verdana;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
body {
  background-color: black;
}
.content {
  position: relative;
  margin: 0 auto;
  width: 70%;
  background: rgba(255, 255, 255, 0.05);
  padding: 10px;
  margin-top: 50px;
  box-shadow: 0px 0px 35px black;
}
#stars {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.neon {
  color: white;
  text-shadow:
    0 0 2px white,
    0 0 3px #ffc,
    0 0 5px #ffa,
    0 0 7px #ff4,
    0px 0px 9px yellow;
  font-size: 16px;
}
video {
  float: right;
  padding: 1em;
}
li,
h1,
h2,
h3,
h4 {
  color: #eee;
}
a:visited {
  color: #c77;
}
a {
  color: #e99;
}
p {
  color: #ccc;
}
.shark.attack {
  transition:
    left ease-in 2s,
    bottom ease-in 2s;
  -webkit-transition:
    left ease-in 2s,
    bottom ease-in 2s;
  -ms-transition:
    left ease-in 2s,
    bottom ease-in 2s;
  -o-transition:
    left ease-in 2s,
    bottom ease-in 2s;
  left: 0;
  bottom: -150px;
}
.menu-links {
  display: flex;
  gap: 14px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: rgba(255, 255, 255, 0.05);
}
.menu-links a {
  font-size: 14px;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 500px) {
  .content {
    width: 95%;
    margin-top: 10px;
  }
  #box {
    position: absolute;
    top: -200px;
    left: -200px;
  }
}

svg {
  display: block;
}

path {
  stroke: rgba(200, 200, 200);
  stroke-width: 10px;
  fill: transparent;
}
path:nth-child(1) {
  animation-delay: 0s;
}

path:nth-child(2) {
  animation-delay: 1s;
}

path:nth-child(3) {
  animation-delay: 2s;
}

path:nth-child(4) {
  animation-delay: 3s;
}

path:nth-child(5) {
  animation-delay: 4s;
}

path:nth-child(6) {
  animation-delay: 5s;
}

path {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation-name: draw;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes draw {
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 0;
  }
}
